/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
b, u, i, center,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
  font-family: 'Courier New', Courier, monospace;
}
body {
	line-height: 1;
	background-color: white;
  margin-top: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Inceput style CSS */

.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgb(18,21,33);
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
}

.cardContainer{
  width: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 16px 0px white;
}

.Title {
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: xx-large;
  padding: 10px;
  border: 1px dotted white;
  border-radius: 10px;
}

.inputContainer{
  width: 100%;
  border-radius: 10px;
  
}

.inputContainer input {
  background-color: rgb(18,21,33);
  color: rgba(0, 255, 255, 0.9);
  font-size: 15px;
  letter-spacing: 1px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 16px -2.5px white;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  outline: none;
  text-align: center;
} 

.buttons{
  margin: 15px 0 -15px 0;
}

.generator, .copyRight {
  padding: 10px;
  background-color: rgb(18,21,33);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.generator:hover, .copyRight:hover{
  cursor: pointer;
  box-shadow: 2px 2px 16px -5px white;
  transition-duration: .5s;
}

@media screen and (max-width:500px) {
  .cardContainer{
    margin: 25px;
  }

  .Title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: x-large;
    padding: 10px;
    border: 1px dotted white;
    border-radius: 10px;
  }
}

@media screen and (max-width:350px) {
  .cardContainer{
    margin: 25px;
    height: 300px;
  }

  .Title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: large;
    padding: 10px;
    border: 1px dotted white;
    border-radius: 10px;
  }

  .buttons{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px 0 -15px 0;
  }

  .generator, .copyRight {
    margin: 7px;
  }
}